In [41]:
import numpy as np
import pandas as pd

from sklearn import preprocessing #if it says that this dosent work look at the python 3 in the top right.

In [42]:
ORIGINAL_TRAINING_FILE = '/Users/ethan/Desktop/Ethan/Python/ML/framework/input/spaceship-titanic/train.csv'
ORIGINAL_TEST_FILE = '/Users/ethan/Desktop/Ethan/Python/ML/framework/input/spaceship-titanic/test.csv'

In [43]:
df = pd.read_csv(ORIGINAL_TRAINING_FILE)
test_df = pd.read_csv(ORIGINAL_TEST_FILE)

# df.corr() this shows us that age, food court and shoppingmall pretty much dont matter:
#I will confirm this using the feature importances thing but still I belive they are unimportant
#for the categorical values I will add another value for if it is null -  this can be handelled in the encode func.
#df.isna().sum()

#now for the numerical values we only need to worry about the room service, spa and vrdeck:
#df.drop(categorical_values + values_to_be_dropped, axis=1).isna().sum()
test_df.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [44]:

for dataframe in [test_df, df]:
    cabin_prefix = []
    for string in dataframe['Cabin'].values:
        if isinstance(string, float):
            cabin_prefix.append(string)
        else: 
            cabin_prefix.append(string.split('/')[0])
    dataframe['CabinPrefix']=cabin_prefix

In [45]:
df['RoomService'] = df['RoomService'].fillna(df['RoomService'].median())
df['Spa'] = df['Spa'].fillna(df['Spa'].median())
df['VRDeck'] = df['VRDeck'].fillna(df['VRDeck'].median())

test_df['RoomService'] = test_df['RoomService'].fillna(test_df['RoomService'].median())
test_df['Spa'] = test_df['Spa'].fillna(test_df['Spa'].median())
test_df['VRDeck'] = test_df['VRDeck'].fillna(test_df['VRDeck'].median())
#repeating for the test data:
#test_df['hasCabin']=test_df['Cabin'].apply(lambda x: 0 if x==0 else 1)
#test_df['Family'] = test_df['SibSp'] + test_df['Parch']
#test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())
#test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())

In [46]:
test_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,CabinPrefix
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,G
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,F
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,C
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,C
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,G
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,D
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,D
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,G

In [47]:
values_to_be_dropped = ['FoodCourt', 'Name', 'ShoppingMall', 'Age', 'Cabin']
categorical_values = ['VIP', 'Destination', 'CryoSleep', 'HomePlanet', 'CabinPrefix']

test_df = test_df.drop(values_to_be_dropped, axis = 1)
df = df.drop(values_to_be_dropped, axis = 1)

In [48]:
#using the one hot encoder:

def encode_categories(cat_values, dataframe):
    ohe = preprocessing.OneHotEncoder(sparse=False)
    for cat in cat_values:
        ohe_category = ohe.fit_transform(dataframe[cat].values.reshape(-1, 1))
        for i in range(ohe_category.shape[1]):
            title = cat + f'_{i}'
            dataframe[title] = ohe_category[:, i] #this is all of the values in the i column of the table
    dataframe = dataframe.drop(cat_values, axis = 1)
    return dataframe
            
df = encode_categories(categorical_values, df)
test_df = encode_categories(categorical_values, test_df)

In [49]:
test_df.isna().sum()

PassengerId      0
RoomService      0
Spa              0
VRDeck           0
VIP_0            0
VIP_1            0
VIP_2            0
Destination_0    0
Destination_1    0
Destination_2    0
Destination_3    0
CryoSleep_0      0
CryoSleep_1      0
CryoSleep_2      0
HomePlanet_0     0
HomePlanet_1     0
HomePlanet_2     0
HomePlanet_3     0
CabinPrefix_0    0
CabinPrefix_1    0
CabinPrefix_2    0
CabinPrefix_3    0
CabinPrefix_4    0
CabinPrefix_5    0
CabinPrefix_6    0
CabinPrefix_7    0
CabinPrefix_8    0
dtype: int64

In [51]:
#repalce the train data with this:
df.to_csv('/Users/ethan/Desktop/Ethan/Python/ML/framework/notebooks/processed_train.csv', index=False)
test_df.to_csv('/Users/ethan/Desktop/Ethan/Python/ML/framework/notebooks/processed_test.csv', index=False)